* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

img {
    object-fit: cover;
    display: block;
}

.container {
    padding: 0 8vw;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 42px 0 17px 0;
}

#searchinput {
    border-style: none;
    background-color: #E7E7E7;
    border-radius: 5px;
    width: 100%;
    height: 69px;
    padding-left: 24px;
    font-size: 18px;
}

#searchinput::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: black;
    opacity: .25;
}

.searchbar i {
    font-size: 30px;
    position: absolute;
    right: 8%;
    top: 172px;
}

.tag-container {
    display: flex;
}

.tag-interact {
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 25px 20px 0 0;
}

.tag-ingredient {
    background-color: #3282F7;
}

.tag-appliance {
    background-color: #68D9A4;
}

.tag-ustensils {
    background-color: #ED6454;
}

.filter-container {
    display: flex;
    margin-top: 15px;
}

.close {
    cursor: pointer;
}

.filter {
    position: relative;
    margin-right: 20px;
}

.filter p {
    padding: 25px 0 0 20px;
}

.filter input {
    width: 150px;
    height: 70px;
    padding: 0 0 0 20px;
    border: none;
    border-radius: 5px;
    color: #f5f6fa;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.filter input::placeholder {
    color: #f5f6fa;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.filter::after {
    content: "";
    background: url("../icon/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 19px;
    transition: all 0.4s;
    cursor: pointer;
}

.selected input {
    width: 680px;
    border-radius: 5px 5px 0 0;
}

.selected input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.selected::after {
    transform: rotateX(180deg);
    top: -18px;
}

.ingredient input, .ingredient-list {
    background: #3282F7;
}

.appareil input, .appliance-list {
    background: #68D9A4;
}

.ustensile input, .ustensils-list {
    background: #ED6454;
}

.tag-list {
    position: absolute;
    width: 700px;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.tag-item {
    color: rgb(224, 224, 224);
    font-size: 18px;
    font-weight: 400;
    margin: 0 19px 19px 19px;
    width: 195px;
    height: 20px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-item:hover {
    color: white;
}

.resultat-container {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.resultat {
    max-width: 380px;
    max-height: 364px;
    border-radius: 5px;
    background-color: #E7E7E7;
    margin-bottom: 50px;
}

.resultat img {
    width: 380px;
    height: 178px;
    border-radius: 5px 5px 0 0;
}

.resultat-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.titre-container{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: normal;
}

.nom {
    width: 225px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.temps {
    display: flex;
    font-weight: bold;
}

.temps i {
    margin-right: 7px;
}

.description-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.texte-recette {
    max-width: 171px;
    max-height: 105px;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-message {
    margin: 200px auto 0 auto;
    color: #7e7e7e;
    font-size: 32px;
}